/* #songlist {
    height: 40px;
    width: 35px;
    border-bottom: 1px solid #000;
    top: 104px;
} */

img {
    width:100%;
}
#imgSelect {
    max-width:400px;
}
#container {
    width:300px;
}

